/* index.php/home page style*/

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: "Poppins", "sans-serif";
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/234990.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.logout-icon{
    width: 30px;
    cursor: pointer;
    margin: 40px;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: #ffffff;
    font-size: 100px;
}

h3{
    color: #ffffff;
    font-size: 40px;
}

#Reg_NO{
    color: #ffffff;
    font-size: 20px;
    line-height: 15px;
}

p{
    color: #ffffff;
    font-size: 11px;
    line-height: 15px;
}

button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #ffffff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url("img/YTube.jpg");
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url("img/YTube.jpg");
}

.card2{
    background-image: url("img/spot.png");
}

.card3{
    background-image: url("img/patreon.webp");
}

.card4{
    background-image: url("img/Git.jpg");
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    font-size: 18px;
    color: white;
    text-shadow: 0 0 5px #999;
}

.card p {
    text-shadow: 0 0 15px #000;
    font-size: 12.5px;
}

/* end of index.php/home page style*/